@model List<LMS.Models.BookingInfo> 
    @{
        ViewBag.Title = "Booking Info";
    }

    <section class="content-header">
        @*<h1>
                rTest
            </h1>*@
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>*@
    </section>
@foreach (var item in Model)
{

    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i>Booking Info
                    <small class="pull-right">Booking Reference : IV &nbsp; @item.BookingID</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">

            @{string SType = "";
              if(@item.ServiceType == 1)
              {
                  SType = "One Way";
              }
              else if (@item.ServiceType == 2)
              {
                  SType = "Return";
              }
              else if (@item.ServiceType == 3)
              {
                  SType = "Sale Visit";
              }
              }
           
            <div class="col-sm-12 invoice-col">
                <table>
                    <tr>
                      
                        <td valign="top">
                            <b>Dear</b> @item.Title &nbsp; @item.FirstName &nbsp; @item.LastName
                            <br />
                        Thank you for your reservation with Synergi.Your transfer service has been booked as follow<br>
                            Please check to ensure all details are correct.
                            <br />
                            <br />
                        </td>
                      
                    </tr>
                   
                    <tr>

                     
                        @{string sPT = "";}
                        @if (@item.PaymentType == 1)
                        {
                            sPT = "Cash";
                            <td>
                                <b>Payment Type : </b> &nbsp; @sPT
                                <br />
                                @if (item.PaymentStatus == 1)
                                {
                                    <b>Payment Status : ยังไม่ได้ชำระเงิน</b>
                                }
                                else if (item.PaymentStatus == 2)
                                {
                                    <b>Payment Status : มีใบแจ้งหนี้</b>
                                }
                                else if (item.PaymentStatus == 3)
                                {
                                    <b>Payment Status : ชำระเงินเเล้ว</b>
                                }
                                <br />

                            </td>
                        }
                        else if (@item.PaymentType == 2)
                        {
                            sPT = "PayPal";
                            <td>
                                <b>Payment Type : </b> &nbsp; @sPT
                                <br />
                                @if (item.PaymentStatus == 1)
                                {
                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="ZN5FQMYX2725U">
                                        <table>
                                            <tr><td><input type="hidden" name="on0" value="ประเภทบริการ">ประเภทบริการ</td></tr>
                                            <tr>
                                                <td>
                                                    <select name="os0">
                                                        <option value="Limousine Toyota Camry Airport to Bangkok/Suburb">Limousine Toyota Camry Airport to Bangkok/Suburb ฿1,600.00 THB</option>
                                                        <option value="Limousine Hyundai H1 Airport to Bangkok/Suburb">Limousine Hyundai H1 Airport to Bangkok/Suburb ฿2,500.00 THB</option>
                                                        <option value="Limousine Toyota Camry Airport to Upcountry">Limousine Toyota Camry Airport to Upcountry ฿2,500.00 THB</option>
                                                        <option value="Limousine Hyundai H1 Airport to Upcountry">Limousine Hyundai H1 Airport to Upcountry ฿4,000.00 THB</option>
                                                        <option value="Sales Visit One Day (Toyota Camry)">Sales Visit One Day (Toyota Camry) ฿3,500.00 THB</option>
                                                        <option value="Sales Visit One Day (Hyundai H1)">Sales Visit One Day (Hyundai H1) ฿5,000.00 THB</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                        <input type="hidden" name="currency_code" value="THB">
                                        <input type="image" src="https://www.paypalobjects.com/th_TH/TH/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - วิธีชำระเงินแบบออนไลน์ที่ปลอดภัยกว่าและง่ายกว่า!">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/th_TH/i/scr/pixel.gif" width="1" height="1">
                                    </form>
                                }
                                else if (item.PaymentStatus == 2)
                                {
                                    <b>Payment Status : มีใบแจ้งหนี้</b>
                                }
                                else if (item.PaymentStatus == 3)
                                {
                                    <b>Payment Status : ชำระเงินเเล้ว</b>
                                }
                             
                                <br />

                            </td>
                        }
                        else if (@item.PaymentType == 3)
                        {
                            sPT = "Credit";
                        }
                        else if (@item.PaymentType == 4)
                        {
                            sPT = "Cheque";
                        }
                        else if (@item.PaymentType == 5)
                        {
                            sPT = "Transfer";
                        }


                      
                    </tr>
                </table>
                <hr />
                <table>
                    <tr>
                        <td>
                            <b>Reservation Code :</b> IV @item.BookingID
                            <br />
                        </td>
                    </tr>
                </table>
                <br />
                <table border="1" width="100%">
                    <tr>
                        <td width="20%"><b>Passenger Name : &nbsp;</b> </td>
                        <td>@item.Title &nbsp; @item.FirstName &nbsp; @item.LastName<br></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Address : &nbsp;</b> </td>
                        <td>@item.Address<br></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>EMail : &nbsp;</b> </td>
                        <td>@item.Email<br></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Contact Call : &nbsp;</b> </td>
                        <td>@item.Mobile<br></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Type of Service  : &nbsp;</b> </td>
                        <td>@SType<br></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Passenger/Pax  : &nbsp;</b> </td>
                        <td>@item.Passenger<br></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Luggage : &nbsp;</b> </td>
                        <td>@item.Luggage<br></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Flight Detail : &nbsp;</b> </td>
                        <td>@item.FlightNo &nbsp; @item.FlightTime<br></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Pick up date : &nbsp;</b> </td>
                        <td>@item.Date<br></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Pick up time : &nbsp;</b> </td>
                        <td>@item.Time<br></td>
                    </tr>
                    @if (@item.ServiceType != 3)
                    {
                        <tr>
                            <td width="20%"><b>From : &nbsp;</b> </td>
                            <td>@item.FromDetail<br></td>
                        </tr>
                        <tr>
                            <td width="20%"><b>To : &nbsp;</b> </td>
                            <td>@item.ToDetail<br></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td width="20%"><b>Route Detail : &nbsp;</b> </td>
                            <td>@item.RouteDetail<br></td>
                        </tr>
                    }
                    
                    <tr>
                        <td width="20%"><b>Meeting point : &nbsp;</b> </td>
                        <td>The chauffeur will send SMS or call to re -confirmed 24 hours before your travel date. <br></td>
                    </tr>
                </table>
                <hr />
                <table>
                    <tr>
                        <td>
                            <b>Chauffeur</b> 
                            <br />
                        </td>
                    </tr>
                </table>
                <br />
                <table border="1" width="100%">
                    <tr>
                        <td width="20%"><b>Chauffeur Name : &nbsp;</b> </td>
                        <td>@item.DTitle &nbsp; @item.DFirstName &nbsp; @item.DLastName<br></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Plate Number : &nbsp;</b> </td>
                        <td>@item.VehicleRegis<br></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Type of vehicle : &nbsp;</b> </td>
                        <td>@item.CarModel<br></td>
                    </tr>
                    <tr>
                        <td width="20%"><b>Contact Call : &nbsp;</b> </td>
                        <td>@item.DMobile<br></td>
                    </tr>

                </table>
                <hr />
                @if (item.CustomerType == 2)
                {
                    <table>
                        <tr>
                            <td>
                                <b>Agent</b>
                                <br />
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="1" width="100%">
                        <tr>
                            <td width="20%"><b>Agent Information : &nbsp;</b> </td>
                            <td>@item.AgentName<br></td>
                        </tr>
                        <tr>
                            <td width="20%"><b>EMail : &nbsp;</b></td>
                            <td>@item.AgentEmail<br> </td>
                        </tr>
                        <tr>
                            <td width="20%"><b>Contact Call : &nbsp;</b></td>
                            <td>@item.AgentMobile<br> </td>
                        </tr>
                    </table>
                    <hr />
                }
             
                <table>
                    <tr>
                        <td>
                            <b>Term and Condition</b><br>
                            <b>Cancellation/ No show</b><br>
                            1.For any cancellation made more than 48 hours in advance, there is no charge.<br>
                            2. For any cancellation made within 48 hours, there is a 50% charge.<br>
                            3.For any cancellation made within 24 hours, or no show there is a 100% charge.<br><br>
                            <b>Airport Transfer</b><br>
                            1.The company is not responsible for any damage arising from the use or not use any.<br>
                            2. If the passengers do not appear or late show up more than 2 hours from appointed time<br>
                            we reserve the right to assume the inability as NO SHOW the service will charge in full.<br>
                            3. Due to the size of the vehicle<br>
                            Big luggage size 28x20x12 ” including wheels and handle.<br>
                            Small luggage size 22x14x9 ” including wheels and handle.<br>
                            4. Maximum of passenger to be seated / Camry sedan 3 passengers / Van 6 passengers<br>
                        </td>
                    </tr>
                </table>
                <hr />
            </div>
            <!-- /.col -->
        </div>
       
    </section>
}
