@model Tuple<LMS.Models.dBookingDetail, List<LMS.Models.SaleVistDetail>>
@{
    ViewBag.Title = "Booking Detail";
    //Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Booking Detail
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Forms</a></li>
        <li class="active">BookingDetail</li>
    </ol>
</section>
<section class="content">
    @*<form action="page.cgi" method="post" name="form1" onsubmit="JavaScript:return fncSubmit();">*@
        <form action="/LMS/BookingCommit" method="post" name="form1" onsubmit="JavaScript: return fncSubmit();">
@{var item = Model.Item1;}


            <div class="row">
                <div class="col-md-7">

                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Contact Person</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <!-- text input -->
                            <div class="form-group">
                                <label>Title</label>
                                <select class="form-control" id="Title" name="Title">

                                    <option value="Mr">Mr.</option>
                                    <option value="Ms">Ms.</option>
                                    <option value="Mrs">Mrs.</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label>First Name<font style="color:red">&nbsp;&nbsp;&nbsp;*Required</font></label>
                                <input id="FirstName" name="FirstName" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Last Name<font style="color:red">&nbsp;&nbsp;&nbsp;*Required</font></label>
                                <input id="LastName" name="LastName" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Address<font style="color:red">&nbsp;&nbsp;&nbsp;*Required</font></label>
                                <textarea id="Address" name="Address" class="form-control" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label>E-Mail<font style="color:red">&nbsp;&nbsp;&nbsp;*Required</font></label>
                                <input id="Email" name="Email" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Telephone</label>
                                <input id="Telephone" name="Telephone" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                            <div class="form-group">
                                <label>Moblie<font style="color:red">&nbsp;&nbsp;&nbsp;*Required</font></label>
                                <input id="Mobile" name="Mobile" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Remark</label>
                                <textarea id="Remark" name="Remark" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                            @*@if (@Model.CustomerType == 1)
                                {
                                    <div class="form-group">
                                        <label>Payment</label>
                                        <br />
                                        <label>
                                            <input type="radio" name="optPayment" id="optPayment1" value="1" checked>
                                            Cash
                                        </label> &nbsp;&nbsp;
                                        <label>
                                            <input type="radio" name="optPayment" id="optPayment2" value="2">
                                            PayPal
                                        </label>
                                    </div>
                                }*@

                            <div class="box-footer clearfix">
                                <input id="FromID" name="FromID" type="hidden" class="form-control" value="@item.FromID">
                                <input id="ToID" name="ToID" type="hidden" class="form-control" value="@item.ToID">
                                @if (@item.FromID == 999)
                                {
                                    <input id="FromDetail" name="FromDetail" type="hidden" class="form-control" value="Others">
                                }
                                else
                                {
                                    <input id="FromDetail" name="FromDetail" type="hidden" class="form-control" value="@item.FromDetail">
                                }
                                @if (@item.ToID == 999)
                                {
                                    <input id="ToDetail" name="ToDetail" type="hidden" class="form-control" value="Others">
                                }
                                else
                                {
                                    <input id="ToDetail" name="ToDetail" type="hidden" class="form-control" value="@item.ToDetail">
                                }


                                @*  <a href="javascript:void(0)" class="btn btn-sm btn-success btn-flat pull-right">Confirm</a>*@
                                @*  <a href="#" class="btn btn-success btn-block"><b>Confirm</b></a>*@
                             @*   <input name="btnSubmit1" type="submit" value="Submit">*@
                                <button type="submit" class="btn btn-success btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">Confirm</button>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Reservation Detail</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                            </div>
                        </div>


                        @{string CustomerName = "";
                        string ServiceName = "";

                        if (@item.CustomerType == 1)
                        {
                            CustomerName = "Walk In";
                        }
                        else
                        {
                            CustomerName = "Sub Agent";
                        }

                        if (@item.ServiceType == 1)
                        {
                            ServiceName = "One Way";
                        }
                        else if (@item.ServiceType == 2)
                        {
                            ServiceName = "Return";
                        }
                        else if (@item.ServiceType == 3)
                        {
                            ServiceName = "Sale Visit";
                        }
                        }
                        <div class="box-body box-profile">

                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Customer</b> <a class="pull-right">@CustomerName (@item.AgentName)</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Service</b> <a class="pull-right">@ServiceName</a>
                                </li>
                                @if (@item.ServiceType != 3)
                                {
                                    <li class="list-group-item">
                                        @if (@item.FromID == 999)
                                        {
                                            <b>From</b> <a class="pull-right">Others</a>
                                        }
                                        else
                                        {
                                            <b>From</b> <a class="pull-right">@item.FromDetail</a>
                                        }

                                    </li>
                                    <li class="list-group-item">
                                        @if (@item.ToID == 999)
                                        {
                                            <b>To</b> <a class="pull-right">Others</a>
                                        }
                                        else
                                        {
                                            <b>To</b> <a class="pull-right">@item.ToDetail</a>
                                        }

                                    </li>
                                }

                                <li class="list-group-item">
                                    <b>Date of Service</b> <a class="pull-right">@item.Date.ToString("dd/MM/yyyy")</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Pick up time</b> <a class="pull-right">@item.Time</a>
                                </li>
                                <li class="list-group-item">
                                    <b>No of passenger</b> <a class="pull-right">@item.Passenger</a>
                                </li>
                                <li class="list-group-item">
                                    <b>No of luggage</b> <a class="pull-right">@item.Luggage</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Flight Detail</b>
                                    <div class="post">

                                        <p>
                                            @item.FlightNo
                                        </p>

                                    </div>
                                    @*<p class="text-muted">
                                            <a class="pull-right">@Model.FlightNo</a>
                                        </p>*@
                                </li>

                                <li class="list-group-item">
                                    <b>Car Model</b> <a class="pull-right">@item.CarModel</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Price (Baht)</b><a class="pull-right">@item.Price.ToString("#,###.##")</a>

                                </li>
                            </ul>

                        </div>


                    </div>
                    @if (@item.ServiceType == 3)
                    {
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Route Detail</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                                </div>
                            </div>

                            <div class="box-body">

                                <p class="text-muted">
                                  @*//  @item.RouteDetail*@
                                    @{int dNum = 1;
                    }
                                   @foreach (var itemS in Model.Item2)
                                   {

                                       string lNum = dNum + ".";
                                     
                                   @lNum@itemS.RouteDetail
                                     
                                       <br />
                                       dNum = dNum+1;
                                   }
                                </p>

                                <hr>

                            </div>
                            <!-- /.box-body -->
                        </div>
                    }

                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Driver Detail</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                            </div>
                        </div>



                        <div class="box-body box-profile">

                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>License Plate</b> <a class="pull-right">@item.VehicleRegis</a>
                                </li>
                                <li class="list-group-item">
                                    @if (@item.DTitle == "นาย")
                                    {
                                        <b>Title</b> <a class="pull-right">Mr.</a>
                                    }
                                    else if (@item.DTitle == "นางสาว")
                                    {
                                        <b>Title</b> <a class="pull-right">Ms.</a>
                                    }
                                    else if (@item.DTitle == "นาง")
                                    {
                                        <b>Title</b> <a class="pull-right">Mrs.</a>
                                    }
                                </li>
                                <li class="list-group-item">
                                    <b>First Name</b> <a class="pull-right">@item.DFirstNameE</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Last Name</b> <a class="pull-right">@item.DLastNameE</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Mobile</b> <a class="pull-right">@item.DMobile</a>
                                </li>

                            </ul>

                        </div>


                    </div>
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Summary Detail</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                            </div>
                        </div>
                        <div class="box-body box-profile">

                            @{
                                Decimal Price = 0;
                                Decimal Discount = 0;
                                Decimal SumPrice = 0;

                                Price = item.Price;
                                Discount = item.Discount;
                                SumPrice = item.Price - Discount;

                            }

                            <ul class="list-group list-group-unbordered">
                                @if (@Price == 0)
                                {
                                    <li class="list-group-item">
                                        <b><font color="red">Quotation will be sent via email.</font></b>

                                    </li>
                                }

                                <li class="list-group-item">
                                    <b>Total (@item.Currency)</b> <a class="pull-right"><input type="text" id="Price" name="Price" style="text-align:right" placeholder="@item.Price" value="@Price.ToString("#,###.00")"></a>

                                </li>
                                <li class="list-group-item">
                                    <b>Discount (@item.Currency)</b> <a class="pull-right"><input type="text" id="Discount" name="Discount" style="text-align:right" placeholder="@item.Discount" value="@Discount.ToString("#,###.00")"></a>

                                </li>


                                <li class="list-group-item">
                                    <b>Grand Total (@item.Currency)</b> <a class="pull-right"><input type="text" id="TotalPrice" name="TotalPrice" style="text-align:right" placeholder="@SumPrice" value="@SumPrice.ToString("#,###.00")"></a>

                                </li>


                            </ul>

                        </div>


                    </div>
                </div>
            </div>

        </form>
    @*<form action="page.cgi" method="post" name="form11111" onsubmit="JavaScript:return fncSubmit();">

        Input 1 <input name="txt1" type="text"><br>

        Input 2 <input name="txt2" type="text"><br>
        <input id="FirstName" name="FirstName" type="text" class="form-control">
        @*<input name="btnSubmit1" type="submit" value="Submit">
        <button type="submit" class="btn btn-success btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">Confirm</button>
    </form>*@

</section>

@*<form action="/LMS/BookingCommit" method="post" name="form1" onsubmit="JavaScript: return fncSubmit();">*@
    
<script language="javascript">
  
    function fncSubmit() {
        if (document.form1.FirstName.value == "") {
            alert('Please input First Name');
            document.form1.FirstName.focus();
            return false;
        }
        if (document.form1.LastName.value == "") {
            alert('Please input Last Name');
            document.form1.LastName.focus();
            return false;
        }
        if (document.form1.Address.value == "") {
            alert('Please input Address');

            document.form1.Address.focus();

            return false;

        }
        if (document.form1.Email.value == "") {
            alert('Please input Email');

            document.form1.Email.focus();

            return false;

        }
        if (document.form1.Mobile.value == "") {
            alert('Please input Mobile');

            document.form1.Mobile.focus();

            return false;

        }
        document.form1.submit();

    }

</script>

