@model List<LMS.Models.FromToModel> 
@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Booking
    </h1>
    <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Forms</a></li>
            <li class="active">Booking</li>
        </ol>
</section>
<section class="content">
  
    @{ string UserFullName = "";
     string UserType = "0";
     string UserTypeName = "";
     string AgentID = "";
     if (HttpContext.Current.Session["LogedUserFullname"] != null)
     {
         UserFullName = HttpContext.Current.Session["LogedUserFullname"].ToString();
         AgentID = HttpContext.Current.Session["LogedAgentID"].ToString();
         UserType = HttpContext.Current.Session["LogedUserType"].ToString();

         if (UserType == "1")
         {
             UserTypeName = "Internal";
         }
         else if (UserType == "2")
         {
             UserTypeName = "Sub Agent";
         }
     }

    }
@foreach (var item in Model)
{
    
    <form action="/LMS/BookingDetail" method="post" onsubmit="return chk_form()">
        @{DateTime dDate = DateTime.Now;}
        <div class="row">
            <div class="col-md-12">

                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @*     <form role="form">*@
                        <!-- text input -->
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Customer</label>

                                <div class="radio">
                                  
                                   
                                    <input id="ServiceType" name="ServiceType" type="hidden" class="form-control" value="1">
                                    <input id="UserType" name="UserType" type="hidden" class="form-control" value="@UserType">
                                    @if (UserType == "1")
                                    {
                                        <input id="CustomerType" name="CustomerType" type="hidden" class="form-control" value="2">
                                        <div class="col-md-3">

                                            <label>
                                                <input type="radio" name="optiosCustomer" id="optiosCustomer1" value="WalkIn" onclick="showhidedivC(this);">
                                                Walk In
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <label>
                                                <input type="radio" name="optiosCustomer" id="optiosCustomer2" value="SubAgent" checked="checked" onclick="showhidedivC(this);">
                                                Sub Agent
                                            </label>
                                        </div>
                                        <div class="col-md-6" id="SubAgent">
                                            <select class="form-control" id="SubAgent" name="SubAgent" placeholder="-- Type Sub Agent --" onchange="chk_FromOneWay();">
                                                @*   <option value="">-- Type Sub Agent --</option>*@
                                                @foreach (var SItem in item.sSubAgent)
                                                {
                                                    <option value="@SItem.AId">@SItem.AName</option>
                                                }
                                            </select>
                                        </div>



                                    }
                                    else if (UserType == "2")
                                    {
                                        <input id="CustomerType" name="CustomerType" type="hidden" class="form-control" value="2">
                                        <div class="col-md-3">
                                            <label>
                                                <input type="radio" name="optiosCustomer" id="optiosCustomer2" value="SubAgent" checked="checked" onclick="showhidedivC(this);">
                                                Sub Agent
                                            </label>
                                        </div>
                                        <div class="col-md-6" id="SubAgent">
                                            <select class="form-control" id="SubAgent" name="SubAgent" placeholder="-- Type Sub Agent --" onchange="chk_FromOneWay();">

                                                @foreach (var SItem in item.sSubAgent)
                                                {
                                                    <option value="@SItem.AId">@SItem.AName</option>
                                                    @*if (AgentID == SItem.UserID.ToString())
                                                    {
                                                        <option value="@SItem.AId">@SItem.AName</option>
                                                    }*@

                                                }
                                            </select>
                                        </div>

                                    }
                                    else
                                    {
                                        <input id="CustomerType" name="CustomerType" type="hidden" class="form-control" value="1">
                                        <div class="col-md-3">
                                            <label>
                                                <input type="radio" name="optiosCustomer" id="optiosCustomer1" value="WalkIn" checked>
                                                Walk In
                                            </label>
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Service</label>
                                <div class="radio">
                                    <div class="col-md-4">
                                        <label>
                                            <input type="radio" name="optiosService" id="optiosService1" value="OneWay" checked="checked" onclick="showhidediv(this);">
                                            One Way
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <label>
                                            <input type="radio" name="optiosService" id="optiosService2" value="Return" onclick="showhidediv(this);">
                                            Return
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <label>
                                            <input type="radio" name="optiosService" id="optiosService3" value="SaleVisit" onclick="showhidediv(this);">
                                            Sale Visit
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*</form>*@
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

            <div class="col-md-12" id="Service1">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">On Way</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">

                        <!-- text input -->

                        <div class="form-group">
                            <div class="col-md-6">
                                <label>From</label>
                                @* <input type="text" class="form-control" placeholder="Enter ...">*@
                                <select class="form-control" id="From" name="From" placeholder="-- Type pick-up location --">
                                  @*  <option value="">-- Type pick-up location --</option>*@
                                    @foreach (var FItem in item.sFromModel)
                                    {

                                        <option value="@FItem.FId">@FItem.FDetail</option>
                                    }
                                    <option value="999">Other</option>
                                
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>To</label>
                                @* <input type="text" class="form-control" placeholder="Enter ...">*@
                                <select class="form-control" id="To" name="To" placeholder="-- Type drop-off location --" onchange="chk_ToOneWay();">
                                 @*   <option value="">-- Type drop-off location --</option>*@
                                    @foreach (var TItem in item.sToModel)
    {
        <option value="@TItem.TId">@TItem.TDetail</option>
    }
                                    <option value="999">Other</option>
                                </select>


                            </div>

                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Date of Service</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="Date" id="Date" data-select="datepicker"
                                           data-val="true" data-val-required="Date is required" value="@dDate.ToString("dd/MM/yyyy")">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success" data-toggle="datepicker">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>

                                    @*<div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                  
                                    <input class="form-control" data-val="true" data-val-required="Date is required"
                                           id="Date" name="Date" type="date" value="1/11/1989" />*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Pick up time</label>
                                <select class="form-control" id="Time" name="Time">

                                 @*   <option value="">-- Select Pick up Time --</option>*@
                                    <option data-ng-value="00:00">00:00</option>
                                    <option data-ng-value="00:15">00:15</option>
                                    <option data-ng-value="00:30">00:30</option>
                                    <option data-ng-value="00:45">00:45</option>
                                    <option data-ng-value="01:00">01:00</option>
                                    <option data-ng-value="01:15">01:15</option>
                                    <option data-ng-value="01:30">01:30</option>
                                    <option data-ng-value="01:45">01:45</option>
                                    <option data-ng-value="02:00">02:00</option>
                                    <option data-ng-value="02:15">02:15</option>
                                    <option data-ng-value="02:30">02:30</option>
                                    <option data-ng-value="02:45">02:45</option>
                                    <option data-ng-value="03:00">03:00</option>
                                    <option data-ng-value="03:15">03:15</option>
                                    <option data-ng-value="03:30">03:30</option>
                                    <option data-ng-value="03:45">03:45</option>
                                    <option data-ng-value="04:00">04:00</option>
                                    <option data-ng-value="04:15">04:15</option>
                                    <option data-ng-value="04:30">04:30</option>
                                    <option data-ng-value="04:45">04:45</option>
                                    <option data-ng-value="05:00">05:00</option>
                                    <option data-ng-value="05:15">05:15</option>
                                    <option data-ng-value="05:30">05:30</option>
                                    <option data-ng-value="05:45">05:45</option>
                                    <option data-ng-value="06:00">06:00</option>
                                    <option data-ng-value="06:15">06:15</option>
                                    <option data-ng-value="06:30">06:30</option>
                                    <option data-ng-value="06:45">06:45</option>
                                    <option data-ng-value="07:00">07:00</option>
                                    <option data-ng-value="07:15">07:15</option>
                                    <option data-ng-value="07:30">07:30</option>
                                    <option data-ng-value="07:45">07:45</option>
                                    <option data-ng-value="08:00">08:00</option>
                                    <option data-ng-value="08:15">08:15</option>
                                    <option data-ng-value="08:30">08:30</option>
                                    <option data-ng-value="08:45">08:45</option>
                                    <option data-ng-value="09:00">09:00</option>
                                    <option data-ng-value="09:15">09:15</option>
                                    <option data-ng-value="09:30">09:30</option>
                                    <option data-ng-value="09:45">09:45</option>
                                    <option data-ng-value="10:00">10:00</option>
                                    <option data-ng-value="10:15">10:15</option>
                                    <option data-ng-value="10:30">10:30</option>
                                    <option data-ng-value="10:45">10:45</option>
                                    <option data-ng-value="11:00">11:00</option>
                                    <option data-ng-value="11:15">11:15</option>
                                    <option data-ng-value="11:30">11:30</option>
                                    <option data-ng-value="11:45">11:45</option>
                                    <option selected data-ng-value="12:00">12:00</option>
                                    <option data-ng-value="12:15">12:15</option>
                                    <option data-ng-value="12:30">12:30</option>
                                    <option data-ng-value="12:45">12:45</option>
                                    <option data-ng-value="13:00">13:00</option>
                                    <option data-ng-value="13:15">13:15</option>
                                    <option data-ng-value="13:30">13:30</option>
                                    <option data-ng-value="13:45">13:45</option>
                                    <option data-ng-value="14:00">14:00</option>
                                    <option data-ng-value="14:15">14:15</option>
                                    <option data-ng-value="14:30">14:30</option>
                                    <option data-ng-value="14:45">14:45</option>
                                    <option data-ng-value="15:00">15:00</option>
                                    <option data-ng-value="15:15">15:15</option>
                                    <option data-ng-value="15:30">15:30</option>
                                    <option data-ng-value="15:45">15:45</option>
                                    <option data-ng-value="16:00">16:00</option>
                                    <option data-ng-value="16:15">16:15</option>
                                    <option data-ng-value="16:30">16:30</option>
                                    <option data-ng-value="16:45">16:45</option>
                                    <option data-ng-value="17:00">17:00</option>
                                    <option data-ng-value="17:15">17:15</option>
                                    <option data-ng-value="17:30">17:30</option>
                                    <option data-ng-value="17:45">17:45</option>
                                    <option data-ng-value="18:00">18:00</option>
                                    <option data-ng-value="18:15">18:15</option>
                                    <option data-ng-value="18:30">18:30</option>
                                    <option data-ng-value="18:45">18:45</option>
                                    <option data-ng-value="19:00">19:00</option>
                                    <option data-ng-value="19:15">19:15</option>
                                    <option data-ng-value="19:30">19:30</option>
                                    <option data-ng-value="19:45">19:45</option>
                                    <option data-ng-value="20:00">20:00</option>
                                    <option data-ng-value="20:15">20:15</option>
                                    <option data-ng-value="20:30">20:30</option>
                                    <option data-ng-value="20:45">20:45</option>
                                    <option data-ng-value="21:00">21:00</option>
                                    <option data-ng-value="21:15">21:15</option>
                                    <option data-ng-value="21:30">21:30</option>
                                    <option data-ng-value="21:45">21:45</option>
                                    <option data-ng-value="22:00">22:00</option>
                                    <option data-ng-value="22:15">22:15</option>
                                    <option data-ng-value="22:30">22:30</option>
                                    <option data-ng-value="22:45">22:45</option>
                                    <option data-ng-value="23:00">23:00</option>
                                    <option data-ng-value="23:15">23:15</option>
                                    <option data-ng-value="23:30">23:30</option>
                                    <option data-ng-value="23:45">23:45</option>
                                </select>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>No of passenger</label>
                                <select class="form-control" id="Passenger" name="Passenger">

                                    @*  <option value="">-- Select No of passenger --</option>*@
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                    
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>No of luggage</label>
                                <select class="form-control" id="Luggage" name="Luggage">

                                    @* <option value="">-- Select No of luggage --</option>*@
                                    <option value="0">0</option>
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>

                                </select>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Flight Detail</label>
                                <input id="Flight" name="Flight" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                            @*<div class="col-md-6">
                                <label>Time</label>
                                <input id="FlightTime" name="FlightTime" type="text" class="form-control" placeholder="Enter ...">
                            </div>*@
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Car Model</label>
                                <select class="form-control" id="CarModel" name="CarModel">

                                  @*  <option value="">-- Select Car Model --</option>*@
                                    @foreach (var CItem in item.sCar)
                                    {
                                        <option value="@CItem.CId">@CItem.CModel</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>No of vechile</label>
                                <select class="form-control" id="Vechile" name="Vechile">

                                    @* <option value="">-- Select No of vechile --</option>*@
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>

                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Currency</label>
                                <select class="form-control" id="Currency" name="Currency">

                                    @* <option value="">-- Select No of vechile --</option>*@
                                    <option value="THB">THB</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                </select>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="box-footer clearfix">
                                    @*  <a href="javascript:void(0)" class="btn btn-sm btn-success btn-flat pull-right">Search</a>*@
                                    @*  <a href="/LMS/BookingDetail" class="btn btn-success btn-block"><b>Search</b></a>*@
                                
                                    <button type="submit" class="btn btn-success btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">NEXT</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-12" id="Service2">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Return</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">

                        <!-- text input -->

                        <div class="form-group">
                            <div class="col-md-6">
                                <label>From</label>
                                @* <input type="text" class="form-control" placeholder="Enter ...">*@
                                <select class="form-control" id="From2" name="From2" placeholder="-- Type pick-up location --">
                                    @*  <option value="">-- Type pick-up location --</option>*@
                                    @foreach (var FItem in item.sFromModel)
                                    {

                                        <option value="@FItem.FId">@FItem.FDetail</option>
                                    }
                                    <option value="999">Other</option>

                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>To</label>
                                @* <input type="text" class="form-control" placeholder="Enter ...">*@
                                <select class="form-control" id="To2" name="To2" placeholder="-- Type drop-off location --" onchange="chk_ToOneWay();">
                                    @*   <option value="">-- Type drop-off location --</option>*@
                                    @foreach (var TItem in item.sToModel)
                                    {
                                        <option value="@TItem.TId">@TItem.TDetail</option>
                                    }
                                    <option value="999">Other</option>
                                </select>


                            </div>

                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Date of Service</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="Date2" id="Date2" data-select="datepicker"
                                           data-val="true" data-val-required="Date is required" value="@dDate.ToString("dd/MM/yyyy")">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success" data-toggle="datepicker">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>

                                    @*<div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>

                        <input class="form-control" data-val="true" data-val-required="Date is required"
                               id="Date" name="Date" type="date" value="1/11/1989" />*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Pick up time</label>
                                <select class="form-control" id="Time2" name="Time2">

                                    @*   <option value="">-- Select Pick up Time --</option>*@
                                    <option data-ng-value="00:00">00:00</option>
                                    <option data-ng-value="00:15">00:15</option>
                                    <option data-ng-value="00:30">00:30</option>
                                    <option data-ng-value="00:45">00:45</option>
                                    <option data-ng-value="01:00">01:00</option>
                                    <option data-ng-value="01:15">01:15</option>
                                    <option data-ng-value="01:30">01:30</option>
                                    <option data-ng-value="01:45">01:45</option>
                                    <option data-ng-value="02:00">02:00</option>
                                    <option data-ng-value="02:15">02:15</option>
                                    <option data-ng-value="02:30">02:30</option>
                                    <option data-ng-value="02:45">02:45</option>
                                    <option data-ng-value="03:00">03:00</option>
                                    <option data-ng-value="03:15">03:15</option>
                                    <option data-ng-value="03:30">03:30</option>
                                    <option data-ng-value="03:45">03:45</option>
                                    <option data-ng-value="04:00">04:00</option>
                                    <option data-ng-value="04:15">04:15</option>
                                    <option data-ng-value="04:30">04:30</option>
                                    <option data-ng-value="04:45">04:45</option>
                                    <option data-ng-value="05:00">05:00</option>
                                    <option data-ng-value="05:15">05:15</option>
                                    <option data-ng-value="05:30">05:30</option>
                                    <option data-ng-value="05:45">05:45</option>
                                    <option data-ng-value="06:00">06:00</option>
                                    <option data-ng-value="06:15">06:15</option>
                                    <option data-ng-value="06:30">06:30</option>
                                    <option data-ng-value="06:45">06:45</option>
                                    <option data-ng-value="07:00">07:00</option>
                                    <option data-ng-value="07:15">07:15</option>
                                    <option data-ng-value="07:30">07:30</option>
                                    <option data-ng-value="07:45">07:45</option>
                                    <option data-ng-value="08:00">08:00</option>
                                    <option data-ng-value="08:15">08:15</option>
                                    <option data-ng-value="08:30">08:30</option>
                                    <option data-ng-value="08:45">08:45</option>
                                    <option data-ng-value="09:00">09:00</option>
                                    <option data-ng-value="09:15">09:15</option>
                                    <option data-ng-value="09:30">09:30</option>
                                    <option data-ng-value="09:45">09:45</option>
                                    <option data-ng-value="10:00">10:00</option>
                                    <option data-ng-value="10:15">10:15</option>
                                    <option data-ng-value="10:30">10:30</option>
                                    <option data-ng-value="10:45">10:45</option>
                                    <option data-ng-value="11:00">11:00</option>
                                    <option data-ng-value="11:15">11:15</option>
                                    <option data-ng-value="11:30">11:30</option>
                                    <option data-ng-value="11:45">11:45</option>
                                    <option selected data-ng-value="12:00">12:00</option>
                                    <option data-ng-value="12:15">12:15</option>
                                    <option data-ng-value="12:30">12:30</option>
                                    <option data-ng-value="12:45">12:45</option>
                                    <option data-ng-value="13:00">13:00</option>
                                    <option data-ng-value="13:15">13:15</option>
                                    <option data-ng-value="13:30">13:30</option>
                                    <option data-ng-value="13:45">13:45</option>
                                    <option data-ng-value="14:00">14:00</option>
                                    <option data-ng-value="14:15">14:15</option>
                                    <option data-ng-value="14:30">14:30</option>
                                    <option data-ng-value="14:45">14:45</option>
                                    <option data-ng-value="15:00">15:00</option>
                                    <option data-ng-value="15:15">15:15</option>
                                    <option data-ng-value="15:30">15:30</option>
                                    <option data-ng-value="15:45">15:45</option>
                                    <option data-ng-value="16:00">16:00</option>
                                    <option data-ng-value="16:15">16:15</option>
                                    <option data-ng-value="16:30">16:30</option>
                                    <option data-ng-value="16:45">16:45</option>
                                    <option data-ng-value="17:00">17:00</option>
                                    <option data-ng-value="17:15">17:15</option>
                                    <option data-ng-value="17:30">17:30</option>
                                    <option data-ng-value="17:45">17:45</option>
                                    <option data-ng-value="18:00">18:00</option>
                                    <option data-ng-value="18:15">18:15</option>
                                    <option data-ng-value="18:30">18:30</option>
                                    <option data-ng-value="18:45">18:45</option>
                                    <option data-ng-value="19:00">19:00</option>
                                    <option data-ng-value="19:15">19:15</option>
                                    <option data-ng-value="19:30">19:30</option>
                                    <option data-ng-value="19:45">19:45</option>
                                    <option data-ng-value="20:00">20:00</option>
                                    <option data-ng-value="20:15">20:15</option>
                                    <option data-ng-value="20:30">20:30</option>
                                    <option data-ng-value="20:45">20:45</option>
                                    <option data-ng-value="21:00">21:00</option>
                                    <option data-ng-value="21:15">21:15</option>
                                    <option data-ng-value="21:30">21:30</option>
                                    <option data-ng-value="21:45">21:45</option>
                                    <option data-ng-value="22:00">22:00</option>
                                    <option data-ng-value="22:15">22:15</option>
                                    <option data-ng-value="22:30">22:30</option>
                                    <option data-ng-value="22:45">22:45</option>
                                    <option data-ng-value="23:00">23:00</option>
                                    <option data-ng-value="23:15">23:15</option>
                                    <option data-ng-value="23:30">23:30</option>
                                    <option data-ng-value="23:45">23:45</option>
                                </select>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>No of passenger</label>
                                <select class="form-control" id="Passenger2" name="Passenger2">

                                    @*  <option value="">-- Select No of passenger --</option>*@
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>

                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>No of luggage</label>
                                <select class="form-control" id="Luggage2" name="Luggage2">

                                    @* <option value="">-- Select No of luggage --</option>*@
                                    <option value="0">0</option>
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>

                                </select>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Flight Detail</label>
                                <input id="Flight2" name="Flight2" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                            @*<div class="col-md-6">
                    <label>Time</label>
                    <input id="FlightTime" name="FlightTime" type="text" class="form-control" placeholder="Enter ...">
                </div>*@
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Car Model</label>
                                <select class="form-control" id="CarModel2" name="CarModel2">

                                    @*  <option value="">-- Select Car Model --</option>*@
                                    @foreach (var CItem in item.sCar)
                                    {
                                        <option value="@CItem.CId">@CItem.CModel</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>No of vechile</label>
                                <select class="form-control" id="Vechile2" name="Vechile2">

                                    @* <option value="">-- Select No of vechile --</option>*@
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>

                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Currency</label>
                                <select class="form-control" id="Currency2" name="Currency2">

                                    @* <option value="">-- Select No of vechile --</option>*@
                                    <option value="THB">THB</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                </select>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="box-footer clearfix">
                                    @*  <a href="javascript:void(0)" class="btn btn-sm btn-success btn-flat pull-right">Search</a>*@
                                    @*  <a href="/LMS/BookingDetail" class="btn btn-success btn-block"><b>Search</b></a>*@

                                    <button type="submit" class="btn btn-success btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">NEXT</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-12" id="Service3">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sale Visit</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">

                        <!-- text input -->
                        
                        @*<div class="form-group">
                       
                            <div class="col-md-12">
                                <label>Route Detail</label>
                                <textarea id="RouteDetail" name="RouteDetail" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                        &nbsp;*@
                        <div class="form-group">
                            <div class="col-md-10">
                                <label>Route Detail</label>
                                <input id="counter" name="counter" type="hidden" class="form-control" value="0" onkeypress="return isNumberKey(event)">

                                <input id="limit" name="limit" type="hidden" class="form-control" value="1" onkeypress="return isNumberKey(event)">
                            </div>
                            <div class="col-md-1">

                                <input type="button" class="btn btn-primary btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;" value="+" onclick="AddInput('Input');">

                            </div>
                            <div class="col-md-1">


                                <input type="button" class="btn btn-danger btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;" value="-" onclick="RemoveItem(this)" />
                            </div>

                            <hr />
                            <div class="col-md-12">
                                <div class="table table-striped">
                                    <div class="form-group">
                                        <div class="col-md-1">
                                            <b><br /><u>No.</u></b>
                                        </div>
                                        <div class="col-md-11">
                                            <b><br /><u>Detail</u></b>

                                        </div>
                                    </div>

                                    <div id="Input">


                                    </div>
                                    

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <hr />
                        </div>
                     
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Date of Service</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="Date3" id="Date3" data-select="datepicker"
                                           data-val="true" data-val-required="Date is required" value="@dDate.ToString("dd/MM/yyyy")">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success" data-toggle="datepicker">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                    @*<div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>

                                    <input class="form-control" data-val="true" data-val-required="Date is required"
                                           id="Date3" name="Date3" type="date" value="1/11/1989" />*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Pick up time</label>
                                <select class="form-control" id="Time3" name="Time3">

                                  @*  <option value="">-- Select Pick up Time --</option>*@
                                    <option data-ng-value="00:00">00:00</option>
                                    <option data-ng-value="00:15">00:15</option>
                                    <option data-ng-value="00:30">00:30</option>
                                    <option data-ng-value="00:45">00:45</option>
                                    <option data-ng-value="01:00">01:00</option>
                                    <option data-ng-value="01:15">01:15</option>
                                    <option data-ng-value="01:30">01:30</option>
                                    <option data-ng-value="01:45">01:45</option>
                                    <option data-ng-value="02:00">02:00</option>
                                    <option data-ng-value="02:15">02:15</option>
                                    <option data-ng-value="02:30">02:30</option>
                                    <option data-ng-value="02:45">02:45</option>
                                    <option data-ng-value="03:00">03:00</option>
                                    <option data-ng-value="03:15">03:15</option>
                                    <option data-ng-value="03:30">03:30</option>
                                    <option data-ng-value="03:45">03:45</option>
                                    <option data-ng-value="04:00">04:00</option>
                                    <option data-ng-value="04:15">04:15</option>
                                    <option data-ng-value="04:30">04:30</option>
                                    <option data-ng-value="04:45">04:45</option>
                                    <option data-ng-value="05:00">05:00</option>
                                    <option data-ng-value="05:15">05:15</option>
                                    <option data-ng-value="05:30">05:30</option>
                                    <option data-ng-value="05:45">05:45</option>
                                    <option data-ng-value="06:00">06:00</option>
                                    <option data-ng-value="06:15">06:15</option>
                                    <option data-ng-value="06:30">06:30</option>
                                    <option data-ng-value="06:45">06:45</option>
                                    <option data-ng-value="07:00">07:00</option>
                                    <option data-ng-value="07:15">07:15</option>
                                    <option data-ng-value="07:30">07:30</option>
                                    <option data-ng-value="07:45">07:45</option>
                                    <option data-ng-value="08:00">08:00</option>
                                    <option data-ng-value="08:15">08:15</option>
                                    <option data-ng-value="08:30">08:30</option>
                                    <option data-ng-value="08:45">08:45</option>
                                    <option data-ng-value="09:00">09:00</option>
                                    <option data-ng-value="09:15">09:15</option>
                                    <option data-ng-value="09:30">09:30</option>
                                    <option data-ng-value="09:45">09:45</option>
                                    <option data-ng-value="10:00">10:00</option>
                                    <option data-ng-value="10:15">10:15</option>
                                    <option data-ng-value="10:30">10:30</option>
                                    <option data-ng-value="10:45">10:45</option>
                                    <option data-ng-value="11:00">11:00</option>
                                    <option data-ng-value="11:15">11:15</option>
                                    <option data-ng-value="11:30">11:30</option>
                                    <option data-ng-value="11:45">11:45</option>
                                    <option selected data-ng-value="12:00">12:00</option>
                                    <option data-ng-value="12:15">12:15</option>
                                    <option data-ng-value="12:30">12:30</option>
                                    <option data-ng-value="12:45">12:45</option>
                                    <option data-ng-value="13:00">13:00</option>
                                    <option data-ng-value="13:15">13:15</option>
                                    <option data-ng-value="13:30">13:30</option>
                                    <option data-ng-value="13:45">13:45</option>
                                    <option data-ng-value="14:00">14:00</option>
                                    <option data-ng-value="14:15">14:15</option>
                                    <option data-ng-value="14:30">14:30</option>
                                    <option data-ng-value="14:45">14:45</option>
                                    <option data-ng-value="15:00">15:00</option>
                                    <option data-ng-value="15:15">15:15</option>
                                    <option data-ng-value="15:30">15:30</option>
                                    <option data-ng-value="15:45">15:45</option>
                                    <option data-ng-value="16:00">16:00</option>
                                    <option data-ng-value="16:15">16:15</option>
                                    <option data-ng-value="16:30">16:30</option>
                                    <option data-ng-value="16:45">16:45</option>
                                    <option data-ng-value="17:00">17:00</option>
                                    <option data-ng-value="17:15">17:15</option>
                                    <option data-ng-value="17:30">17:30</option>
                                    <option data-ng-value="17:45">17:45</option>
                                    <option data-ng-value="18:00">18:00</option>
                                    <option data-ng-value="18:15">18:15</option>
                                    <option data-ng-value="18:30">18:30</option>
                                    <option data-ng-value="18:45">18:45</option>
                                    <option data-ng-value="19:00">19:00</option>
                                    <option data-ng-value="19:15">19:15</option>
                                    <option data-ng-value="19:30">19:30</option>
                                    <option data-ng-value="19:45">19:45</option>
                                    <option data-ng-value="20:00">20:00</option>
                                    <option data-ng-value="20:15">20:15</option>
                                    <option data-ng-value="20:30">20:30</option>
                                    <option data-ng-value="20:45">20:45</option>
                                    <option data-ng-value="21:00">21:00</option>
                                    <option data-ng-value="21:15">21:15</option>
                                    <option data-ng-value="21:30">21:30</option>
                                    <option data-ng-value="21:45">21:45</option>
                                    <option data-ng-value="22:00">22:00</option>
                                    <option data-ng-value="22:15">22:15</option>
                                    <option data-ng-value="22:30">22:30</option>
                                    <option data-ng-value="22:45">22:45</option>
                                    <option data-ng-value="23:00">23:00</option>
                                    <option data-ng-value="23:15">23:15</option>
                                    <option data-ng-value="23:30">23:30</option>
                                    <option data-ng-value="23:45">23:45</option>
                                </select>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>No of passenger</label>
                                <select class="form-control" id="Passenger3" name="Passenger3">

                                    @*  <option value="">-- Select No of passenger --</option>*@
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>

                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>No of luggage</label>
                                <select class="form-control" id="Luggage3" name="Luggage3">

                                    @* <option value="">-- Select No of luggage --</option>*@
                                    <option value="0">0</option>
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Flight Detail</label>
                                <input id="Flight3" name="Flight3" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                            @*<div class="col-md-6">
                                <label>Time</label>
                                <input id="FlightTime3" name="FlightTime3" type="text" class="form-control" placeholder="Enter ...">
                            </div>*@
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Car Model</label>
                                <select class="form-control" id="CarModel3" name="CarModel3">

                                 @*   <option value="">-- Select Car Model --</option>*@
                                    @foreach (var CItem in item.sCar)
                                    {
                                        <option value="@CItem.CId">@CItem.CModel</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>No of vechile</label>
                                <select class="form-control" id="Vechile3" name="Vechile3">

                                    @* <option value="">-- Select No of vechile --</option>*@
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>

                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Currency</label>
                                <select class="form-control" id="Currency3" name="Currency3">

                                    @* <option value="">-- Select No of vechile --</option>*@
                                    <option value="THB">THB</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                </select>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="box-footer clearfix">
                                    @*  <a href="javascript:void(0)" class="btn btn-sm btn-success btn-flat pull-right">Search</a>*@
                                    @*  <a href="/LMS/BookingDetail" class="btn btn-success btn-block"><b>Search</b></a>*@

                                    <button type="submit" class="btn btn-success btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">NEXT</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
       
        </div>
    </form>

}
  
</section>

  
    <script language="JavaScript" type="text/javascript">
        document.getElementById('Service2').style.display = 'none';
        document.getElementById('Service3').style.display = 'none';
       

 function showhidediv(rad){
     var rads=document.getElementsByName(rad.name);
     document.getElementById('Service1').style.display = (rads[0].checked) ? 'block' : 'none';
     document.getElementById('Service2').style.display = (rads[1].checked) ? 'block' : 'none';
     document.getElementById('Service3').style.display = (rads[2].checked) ? 'block' : 'none';

     document.getElementById('ServiceType').value = (rads[0].checked) ? '1' : '3';
     document.getElementById('ServiceType').value = (rads[2].checked) ? '3' : '1';

 }

 function showhidedivC(rad) {
     var rads = document.getElementsByName(rad.name);
     document.getElementById('SubAgent').style.display = (rads[1].checked) ? 'block' : 'none';
     document.getElementById('CustomerType').value = (rads[1].checked) ? '2' : '1';
    
 }
 </script>
<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("mm/dd/yyyy", { "placeholder": "mm/dd/yyyy" });
        //Datemask2 mm/dd/yyyy
        $("#datemask2").inputmask("mm/dd/yyyy", { "placeholder": "mm/dd/yyyy" });
        //Money Euro
        $("[data-mask]").inputmask();

        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
       $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY' });
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
        );

        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        });

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $(".my-colorpicker1").colorpicker();
        //color picker with addon
        $(".my-colorpicker2").colorpicker();

        //Timepicker
        $(".timepicker").timepicker({
            showInputs: false
        });
    });
</script>
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });

    });
    $(function () {
        $(".datefield").datepicker();
    });

    function chk_To1() {

        var dFrom = $("#From").val();

       // alert(dFrom);
        $.ajax({
            url: '@Url.Action("searchRoute", "LMS")', // to get the right path to controller from TableRoutes of Asp.Net MVC
          //  url: 'LMS/searchRoute', // to get the right path to controller from TableRoutes of Asp.Net MVC

            dataType: "json", //to work with json format
            type: "POST", //to do a post request
            //contentType: 'application/json; charset=utf-8', define a contentType of your request
            cache: false, //avoid caching results
            data: { dFrom: dFrom }, // here you can pass arguments to your request if you need
          //  data: { dFrom: $("#From").val() },
            success: function (data) {

                //  data is your result from controller
                if (data) {

                    var items ='';
                   // var items = '<option value="">-- Type  drop-off location --</option>';
                    $.each(data, function (i, state) {
                        items += "<option value='" + data[i].TId + "'>" + data[i].TDetail + "</option>";

                    });

                    $('#To').html(items);
                }
                else {

                }

            },
            error: function (xhr) {
                alert('error');
            }
        });

        return false;
    }
    function chk_ToReturn1() {

        var dFrom = $("#FromReturn1").val();

        //  alert(dFrom);
        $.ajax({
            url: '@Url.Action("searchRoute", "LMS")',  // to get the right path to controller from TableRoutes of Asp.Net MVC
            dataType: "json", //to work with json format
            type: "POST", //to do a post request
            //contentType: 'application/json; charset=utf-8', define a contentType of your request
            cache: false, //avoid caching results
            data: { dFrom: dFrom }, // here you can pass arguments to your request if you need
            //  data: { dFrom: $("#From").val() },
            success: function (data) {

                //  data is your result from controller
                if (data) {

                    var items = '';
                   // var items = '<option value="">-- Type  drop-off location --</option>';
                    $.each(data, function (i, state) {
                        items += "<option value='" + data[i].TId + "'>" + data[i].TDetail + "</option>";

                    });

                    $('#ToReturn1').html(items);
                }
                else {

                }

            },
            error: function (xhr) {
                alert('error');
            }
        });

        return false;
    }
    function chk_ToReturn2() {

        var dFrom = $("#FromReturn2").val();

        //  alert(dFrom);
        $.ajax({
            url: '@Url.Action("searchRoute", "LMS")',  // to get the right path to controller from TableRoutes of Asp.Net MVC
            dataType: "json", //to work with json format
            type: "POST", //to do a post request
            //contentType: 'application/json; charset=utf-8', define a contentType of your request
            cache: false, //avoid caching results
            data: { dFrom: dFrom }, // here you can pass arguments to your request if you need
            //  data: { dFrom: $("#From").val() },
            success: function (data) {

                //  data is your result from controller
                if (data) {

                    var items = '';
                  //  var items = '<option value="">-- Type  drop-off location --</option>';
                    $.each(data, function (i, state) {
                        items += "<option value='" + data[i].TId + "'>" + data[i].TDetail + "</option>";

                    });

                    $('#ToReturn2').html(items);
                }
                else {

                }

            },
            error: function (xhr) {
                alert('error');
            }
        });

        return false;
    }
    function chk_To3() {

        var dFrom = $("#From3").val();

      //  alert(dFrom);
        $.ajax({
            url: '@Url.Action("searchRoute", "LMS")',  // to get the right path to controller from TableRoutes of Asp.Net MVC
            dataType: "json", //to work with json format
            type: "POST", //to do a post request
            //contentType: 'application/json; charset=utf-8', define a contentType of your request
            cache: false, //avoid caching results
            data: { dFrom: dFrom }, // here you can pass arguments to your request if you need
            //  data: { dFrom: $("#From").val() },
            success: function (data) {

                //  data is your result from controller
                if (data) {

                    var items = '';
                   // var items = '<option value="">-- Type  drop-off location --</option>';
                    $.each(data, function (i, state) {
                        items += "<option value='" + data[i].TId + "'>" + data[i].TDetail + "</option>";

                    });

                    $('#To3').html(items);
                }
                else {

                }

            },
            error: function (xhr) {
                alert('error');
            }
        });

        return false;
    }

   
    function AddInput(divName) {
        var counter = document.getElementById("counter").value;
        var limit = 21;
        if (counter == limit) {
            alert("You have reached the limit of adding " + counter - 1 + " inputs");
        }
        else {

            counter = document.getElementById("limit").value;
       //     var AddDetail = document.getElementById("AddDetail").value;
         
            var Detail = 'Detail' + counter;
            var Num = 'Num' + counter;
            var oDetail = 'oDetail' + counter;
            var oRemove = counter;


            var newdiv = document.createElement('div');
            newdiv.innerHTML = "<div class='form-group' id=" + oDetail + " name=" + oDetail + ">";
            newdiv.innerHTML += "<div class='col-md-1'><input type='text' id=" + Num + " name=" + Num + " class='form-control' value=" + counter + " readonly></div>";
            newdiv.innerHTML += "<div class='col-md-11'><input type='text' id=" + Detail + " name=" + Detail + " class='form-control'></div>";
            newdiv.innerHTML += "</div>";

            document.getElementById(divName).appendChild(newdiv);
            document.getElementById(Detail).focus();

            counter++;
            document.getElementById("counter").value = counter - 1;
            document.getElementById("limit").value = counter;



        }
    }
    function RemoveItem(element) {
        // get the parent element with class "item-container" and remove it from the DOM
        var mD = 'Detail' + document.getElementById("counter").value;
        var mN = 'Num' + document.getElementById("counter").value;
      
        var dD = 'oDetail' + document.getElementById("counter").value;
        document.getElementById(mD).remove();
        document.getElementById(mN).remove();
     
        document.getElementById("counter").value = document.getElementById("counter").value - 1;
        document.getElementById("limit").value = document.getElementById("limit").value - 1;

    }
</script>


  


