@model List<LMS.Models.Receipt>
@{
    ViewBag.Title = "Receipt";
}

<section class="content-header">
    <h1>
        Receipt Management

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Forms</a></li>
        <li class="active">Receipt</li>
    </ol>
</section>
<section class="content">
  @{ string UserFullName = "";
   string UserType = "0";
   string UserID = "0";
   string UserTypeName = "";
   string AgentID = "";
   if (HttpContext.Current.Session["LogedUserFullname"] != null)
   {
       UserFullName = HttpContext.Current.Session["LogedUserFullname"].ToString();
       AgentID = HttpContext.Current.Session["LogedAgentID"].ToString();
       UserType = HttpContext.Current.Session["LogedUserType"].ToString();
       UserID = HttpContext.Current.Session["LogedUserID"].ToString();

       if (UserType == "1")
       {
           UserTypeName = "Internal";
       }
       else if (UserType == "2")
       {
           UserTypeName = "Sub Agent";
       }
   }

}

    <div class="row">
        <div class="col-md-12">

            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Receipt Last Month</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr style="background-color:#27AE60">
                                    <th align="center"><font color="#fff">Receipt No</font></th>
                                    <th align="center"><font color="#fff">Receipt Date</font></th>
                                    <th align="center"><font color="#fff">Invoice No</font></th>
                                    <th align="center"><font color="#fff">วันที่ชำระเงิน</font></th>
                                    <th align="center"><font color="#fff">จำนวนเงิน</font></th>
                                    <th align="center"><font color="#fff">ประเภทการชำระเงิน</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    String Status = "";
                                    String SClass = "";
                                    if (item.PaymentType == 1)
                                    {
                                        Status = "Cash";
                                        SClass = "label label-success";
                                    }
                                    else if (item.PaymentType == 2)
                                    {
                                        Status = "PayPal";
                                        SClass = "label label-primary";
                                    }
                                    else if (item.PaymentType == 3)
                                    {
                                        Status = "Credit";
                                        SClass = "label label-primary";
                                    }
                                    else if (item.PaymentType == 4)
                                    {
                                        Status = "Cheque";
                                        SClass = "label label-danger";
                                    }
                                    else if (item.PaymentType == 5)
                                    {
                                        Status = "Transfer";
                                        SClass = "label label-success";
                                    }

                                    String sDay = item.ReceiptDate.Day.ToString("00");
                                    String sMonth = item.ReceiptDate.Month.ToString("00");
                                    String sYear = item.ReceiptDate.Year.ToString("0000");

                                    String iDay = item.PaymentDate.Day.ToString("00");
                                    String iMonth = item.PaymentDate.Month.ToString("00");
                                    String iYear = item.PaymentDate.Year.ToString("0000");
                                    
                                    <tr onmouseover="ChangeBackgroundColor(this)" onmouseout="RestoreBackgroundColor(this)">
                                        <td><a href="/LMS/ReceiptInfo?ReceiptNo=@item.ReceiptNo">@item.ReceiptNo</a></td>
                                        <td>@sDay/@sMonth/@sYear</td>
                                        <td>@item.InvoiceNo</td>
                                        <td>@iDay/@iMonth/@iYear</td>
                                        <td>@item.GrandTotal.ToString("#,###.##")</td>
                                        <td><span class="@SClass">@Status</span></td>

                                    </tr>


                                }


                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
@if(UserType == "1")
                            {
                    <a href="/LMS/ReceiptInvoice" class="btn btn-sm btn-info btn-flat pull-right">Place New Receipt</a>
}
                    <a href="/LMS/ReportReceipt" class="btn btn-sm btn-default btn-flat pull-left">View All Receipt</a>
                </div>
                <!-- /.box-footer -->
            </div>

        </div>

    </div>
</section>
<script type="text/javascript">

    var TableBackgroundNormalColor = "#ffffff";
    var TableBackgroundMouseoverColor = "#D5F5E3";

    // These two functions need no customization.
    function ChangeBackgroundColor(row) {
        TableBackgroundNormalColor = row.style.backgroundColor;
        row.style.backgroundColor = TableBackgroundMouseoverColor;
    }
    function RestoreBackgroundColor(row) { row.style.backgroundColor = TableBackgroundNormalColor; }
</script>
